// Background colors
$--primary-back: #000000;
$--secondary-back: #1C1C1E;

// Text colors
$--primary-text: #FFFFFF;
$--secondary-text: rgb(235, 235, 245, .6);

// Accent colors
$--red: #FF7782;
$--blue: #7380EC;
$--green: #41F1B6;
$--yellow: #FFBB55;


$--cell: 40px;
